body{
    margin: 0;
    padding: 0;
    background-color: beige;
}

.content{
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.colors{
    padding: 10px;
    border: black 1px solid;
    border-radius: 10px;
    display: inline-block;
    width: 70px;
}

#red, #yellow, #green{
    height: 50px;
    width: 50px;
    margin: 10px;
    background-color: grey;
    border-radius: 50%;
}

#red.active{
    background-color: red;;
}

#yellow.active{
    background-color: yellow;;
}

#green.active{
    background-color: green;;
}

.btn{
    margin-top: 10px;
    width: 70px;
}

button{
    width: 90px;
    background-color: coral;
}