.root {
    background-color: grey;
    border-radius: 10px;
    margin: 10px;
    font-size: 22px;
}

.logo {
    display: flex;
    justify-content: center;
}

.form {
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
}

input[type=text],
input[type=password],
input[type=email] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

input[type=text].invalid,
input[type=email].invalid,
input[type=password].invalid {
    border: 2px solid red;
    border-radius: 4px;
}

input[type=text]:focus,
input[type=email]:focus,
input[type=password]:focus {
    background-color: lightblue;
}

.checkbox_container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.checkbox_container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.checkbox_checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #fff;
    border-radius: 3px;
    border: 1px solid #ccc;
}

.checkbox_container:hover input~.checkbox_checkmark {
    background-color: #f2f3f4;
}

input:focus~.checkbox_checkmark {
    border-color: #56CCF2;
    box-shadow: 0px 0px 8px #56CCF2;
}

.checkbox_checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.checkbox_container input:checked~.checkbox_checkmark:after {
    display: block;
}

.checkbox_container .checkbox_checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: 1px solid #4CAF50;
    border-width: 0 4px 4px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.radio_container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.radio_container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.radio_checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
}

.radio_container:hover input~.radio_checkmark {
    background-color: #ccc;
}

.radio_container input:checked~.radio_checkmark {
    background-color: #4CAF50;
}

.radio_checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.radio_container input:checked~.radio_checkmark:after {
    display: block;
}

.radio_container .radio_checkmark:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
}

.tb {
    display: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
}

th,
td {
    text-align: left;
    padding: 16px;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}