body{
    background-color: rgb(230, 118, 155);
}

.rectangle {
    counter-reset: li; 
    list-style: none; 
    font: 14px "Trebuchet MS", "Lucida Sans";
    padding: 0;
}

.rectangle .fruit:before {
    content: counter(li);
    counter-increment: li;
    position: absolute;
    left: -2.5em;
    top: 50%;
    margin-top: -1em;
    background:rgb(207, 149, 168);
    height: 2em;
    width: 2em;
    line-height: 2em;
    text-align: center;
    font-weight: bold;
    color: white;
}

.rectangle .fruit:after {
    position: absolute;
    content: "";
    border: .5em solid transparent;
    left: -1em;
    top: 50%;
    margin-top: -.5em;
    transition: all .3s ease-out;
}
.rectangle .fruit:hover:after {
    left: -.5em;
    border-left-color: #9097A2;
}

.rectangle .fruit {
    position: relative;
    display: block;
    padding: .4em .4em .4em .8em;
    margin: .5em 0 .5em 2.5em;
    background:  rgb(207, 149, 168);
    text-decoration: none;
    transition: all .3s ease-out;
}

li {
    font-size: 18pt;       
}

.fruit {
    /*display: inline-block;*/
    background-color: brown;
    color: white;
    padding: 0px 0 0 4px;
}